<div id="<%= dom_id like %>">
  <p>
    <strong>Fan:</strong>
    <%= like.fan_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= like.photo_id %>
  </p>

  <%= button_to "Unlike", like_path(like), method: :delete, remote: true, class: "btn btn-outline-danger btn-sm" %>
</div>
